  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background: #f4f4f4;
    padding: 40px 20px;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 42px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
    color: #666;
}


img {
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.container::after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 2px;
    background: #d3d3d3;
    transform: translateX(-50%);
}

.container h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #222;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

ul {

    line-height: 1.7;
    font-size: 16px;
    padding-left: 5px;
}

ul li {
    margin-bottom: 8px;
    padding-left: 5px;
    position: relative;
}


    .container::after {
        display: none;}
    