 img{
    border-radius: 50%;
    width:130px;
    border-style: solid;
    border-width: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #001f3f;
  padding-bottom: 0%;
} 



header{
    background-color: rgb(7, 7, 39);
    border-radius: 2%;
      align-items:  center;
      color:white;
}



.about{
  display:grid;
  background-color: rgb(243, 236, 236);
  border-radius :20px;
  text-align: center;
  width: max-content;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
margin-bottom: 20px;
}

.personal-details{
  justify-content: space-between;
  display: grid;
  background-color: rgb(243, 236, 236);
  border-radius :10px;
  text-align: center;
  text-decoration: none;
  list-style-position: inside;
  width:max-content;
 
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
margin-bottom: 20px
}
.hobbies{
  display: grid;
  background-color: rgb(243, 236, 236);
  border-radius :10px;
  text-align: center;


  width:max-content;
   gap: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.skills{
display: grid;
  background-color: rgb(243, 236, 236);
  border-radius :10px;
  text-align: center;
  gap: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
 margin-bottom: 20px;
}

.bio{
display: grid;
  background-color: rgb(243, 236, 236);
  border-radius :10px;
  text-align: center;
  width:max-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center; 
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer{
  background-color: rgb(7, 7, 39);;
  background-attachment: fixed;
  text-align: center;
  color: azure;
}
footer:hover{
  color:rgb(12, 12, 12);
  background-color:coral;
}
